
{% load i18n %}
{% load account %}

{% block head_title %}E_Mail Adresse bestaetigen{% endblock %}


{% block content %}
<h1>E-Mail Adresse bestaetigen</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Ich bestaetige, dass <a href="mailto:{{ email }}">{{ email }}</a> die E-Mail Addresse fuer {{ user_display }} ist.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Dieser Link ist abgelaufen, bitte <a href="{{ email_url }}">fordere einen neuen an</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
